<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elt.server.mapper.PriorityOrgMapper">
    <resultMap id="BaseResultMap" type="com.elt.server.model.PriorityOrg">
        <id column="id_priority_org" jdbcType="VARCHAR" property="idPriorityOrg"/>
        <result column="biz_model" jdbcType="VARCHAR" property="bizModel"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="priority" jdbcType="VARCHAR" property="priority"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id_priority_org, biz_model, org_code, priority, created_date, created_by, updated_date, updated_by
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from priority_org
        where id_priority_org = #{idPriorityOrg,jdbcType=VARCHAR}
    </select>

    <select id="listAfter" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from priority_org
        where id_priority_org &gt; #{id,jdbcType=VARCHAR}
        order by id_priority_org
        limit #{limit}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from priority_org
        where id_priority_org = #{idPriorityOrg,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.elt.server.model.PriorityOrg">
        insert into priority_org (id_priority_org, biz_model, org_code, priority,
        created_date, created_by, updated_date,
        updated_by)
        values (#{idPriorityOrg,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR},
        #{priority,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR},
        #{updatedDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR})
    </insert>
    <update id="batchMerge">
        replace into priority_org (id_priority_org, biz_model, org_code, priority,
        created_date, created_by, updated_date, updated_by) values
        <foreach collection="list" item="i" separator=",">
            (#{i.idPriorityOrg,jdbcType=VARCHAR}, #{i.bizModel,jdbcType=VARCHAR}, #{i.orgCode,jdbcType=VARCHAR},
            #{i.priority,jdbcType=VARCHAR}, #{i.createdDate,jdbcType=TIMESTAMP}, #{i.createdBy,jdbcType=VARCHAR},
            #{i.updatedDate,jdbcType=TIMESTAMP}, #{i.updatedBy,jdbcType=VARCHAR})
        </foreach>
    </update>
    <insert id="insertSelective" parameterType="com.elt.server.model.PriorityOrg">
        insert into priority_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idPriorityOrg != null">
                id_priority_org,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedDate != null">
                updated_date,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idPriorityOrg != null">
                #{idPriorityOrg,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null">
                #{updatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.elt.server.model.PriorityOrg">
        update priority_org
        <set>
            <if test="orgCode != null">
                org_code = #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null">
                updated_date = #{updatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id_priority_org = #{idPriorityOrg,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.elt.server.model.PriorityOrg">
        update priority_org
        set org_code = #{orgCode,jdbcType=VARCHAR},
        priority = #{priority,jdbcType=VARCHAR},
        created_date = #{createdDate,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=VARCHAR},
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
        updated_by = #{updatedBy,jdbcType=VARCHAR}
        where id_priority_org = #{idPriorityOrg,jdbcType=VARCHAR}
    </update>
</mapper>